#testimonials{
    background-color: #b8956f;
    padding: 60px 20px;
    text-align: center;
}
.testimonial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.testimonial{
    width:300px;
    background: #f4e1c1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0,0.15);
    text-align: center;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;

}
.testimonial p{
    font-size: 14px;
    line-height: 1.6;
}
#testimonials h2{
    font-size: 42px;
    font-weight: 600;
    color: #f4e1c1;
    letter-spacing: 1px;
}


/*contact section*/
.contact{
    background:white;
    color:black;
    padding:100px 10%;
    font-family: 'Segoe UI', sans-serif;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.contact-info{
    flex:1;
}

.contact-info h2{
    font-size:40px;
    margin-bottom:20px;
    color:#c8a97e;
}

.contact-info p{
    margin-bottom:15px;
    line-height:1.6;
}

.info p{
    margin:10px 0;
    font-size:15px;
}

.contact-form{
    flex:1;
    background:#1a1a1a;
    padding:40px;
    border-radius:10px;
}

.input-group{
    margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    background:#111;
    color:white;
    border:1px solid black;
    border-radius:5px;
    font-size:14px;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#c8a97e;
}

.contact-form button{
    width:100%;
    padding:14px;
    border:none;
    background:#c8a97e;
    color:black;
    font-weight:bold;
    font-size:15px;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#b89563;
}.contact{
    background:white;
    color:black;
    padding:100px 10%;
    font-family: 'Segoe UI', sans-serif;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.contact-info{
    flex:1;
}

.contact-info h2{
    font-size:40px;
    margin-bottom:20px;
    color:#c8a97e;
}

.contact-info p{
    margin-bottom:15px;
    line-height:1.6;
}

.info p{
    margin:10px 0;
    font-size:15px;
}

.contact-form{
    flex:1;
    background:#1a1a1a;
    padding:40px;
    border-radius:10px;
}
.map iframe{
width:50%;
height:200px;
border:0;
}

.input-group{

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    background:#111;
    color:white;
    border:1px solid #333;
    border-radius:5px;
    font-size:14px;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#c8a97e;
}

.contact-form button{
    width:100%;
    padding:14px;
    border:none;
    background:#c8a97e;
    color:black;
    font-weight:bold;
    font-size:15px;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#b89563;
}
